<h1>Meerkat</h1>
<head>
  <meta name="google-signin-client_id" content="786247611893-foni64gupe521f9a990nlaqtgg0jolo0.apps.googleusercontent.com">
</head>
<body>
  
  
  <% if @current_user == nil %>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <div id="my-signin2" href="/auth/google_oauth2"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>
  <% else %>
  <div>   
    You already had an account
  </div>
  <% end %>
  
</body>

