
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  .sign-google {
    background: url('https://images.theconversation.com/files/93616/original/image-20150902-6700-t2axrz.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip') #f2f2f2;
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 37px 40px;
    padding-left: 42px;
  }
  .link{
    color: black;
    text-decoration: none;
  }
  .welcome{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  }
  </style>
</head>
<body>
  
  
  <% if @current_user == nil %>
  
  <a class="btn btn-primary sign-google" href="/auth/google_oauth2" role="button">Log in with Google</a>
  
  <% else %>

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fillustration%2Fmeerkat.html&psig=AOvVaw0olFojGENLDuwSjIdMRwkx&ust=1638395541672000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKCUu5SJwfQCFQAAAAAdAAAAABAV" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Welcome to Meerkat</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Wanna find some partners at Columbia to do group project, have dinner, go hiking, etc. together? Start from Meerkat! You can select suitable partners, find interesting activities, and join various groups. Meerkat is also friendly to socially awkward people. All the posts and comments will be anonymously published.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><%= link_to "Go to Posts", posts_path, :method => :get, :class => "link"%></button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><%= link_to "My Profile", profile_path, :method => :get, :class => "link"%></button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"><%= link_to "Log out", logout_path, :method => :delete, :class => "link"%></button>
      </div>
      
    </div>
  </div>
  
  <% end %>
  
</body>

