<h1>Meerkat</h1>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  .sign-google {
    background: url('https://images.theconversation.com/files/93616/original/image-20150902-6700-t2axrz.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip') #f2f2f2;
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 37px 40px;
    padding-left: 42px;
    color: black;
  }
  .link{
    color: black;
    text-decoration: none;
  }
  </style>
</head>
<body>
  
  
  <% if @current_user == nil %>
  
  <a class="btn btn-primary sign-google" href="/auth/google_oauth2" role="button">Log in with Google</a>
  
  <% else %>
  <div>   
    Hello <%=@current_user.name%>
    You already had an account
  </div>
  <div class="btn btn-primary sign-google">
  <%= link_to "Log Out with google", logout_path, :method => :delet, :class => "link"%>   
 </div>
 
  
  <% end %>
  
</body>

